/* You can target elements by id by preceding the id name with # */
#greeting {
    color: darkblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }