/* You can target elements by id by preceding the id name with # */
#greeting {
    color: #0069D9;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
    width: 60%; /* Adjust the width as needed */
    height: 525px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the card horizontally */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}